.general{

}
.mother{
background: #fff;
padding: 20px 20px 0 20px;

overflow-y: hidden;
}
.nameCircle{
    font-weight: bold;
    padding: 5px;
    background: rgba(97, 205, 227, 1);
    border-radius: 100px;
}
/* .firstDiv{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.sameDiv{
    display: flex;
    justify-content: space-between;
} */
/* .table  tr{
display: flex;
justify-content: space-between;
} */
/* .table tr {
 border-bottom: 1px solid #ddd;
  } */

<<<<<<< HEAD
 .general table {
=======
  .table {
>>>>>>> 399b9c1d7cb072ef7ea17c0aab64fa83017bfccd
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Define row styles */
<<<<<<< HEAD
 .general th, .general td {
=======
  .th, .td {
>>>>>>> 399b9c1d7cb072ef7ea17c0aab64fa83017bfccd
    padding: 13px 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
<<<<<<< HEAD
  .general th{
=======
  .th{
>>>>>>> 399b9c1d7cb072ef7ea17c0aab64fa83017bfccd
    border: none;
  }

  /* Style the first row differently for headings */
<<<<<<< HEAD
  .general th {
=======
  .th {
>>>>>>> 399b9c1d7cb072ef7ea17c0aab64fa83017bfccd
    /* background-color: #f2f2f2; */
  }
  @media (max-width:670px) {
    .mother{
      background: transparent;
    }
<<<<<<< HEAD
    .general  tbody{
=======
    .tbody{
>>>>>>> 399b9c1d7cb072ef7ea17c0aab64fa83017bfccd
      gap:10px;
      display: flex;
      flex-direction: column;
    }
    .none{
      display: none;
    }
    /* .table{
      display: flex;
      gap: 1em;
      background: none;
    } */
<<<<<<< HEAD
    .general  td{
      padding: 20px 8px;
    }
    .general  tr{
=======
    .td{
      padding: 20px 8px;
    }
    .tr{
>>>>>>> 399b9c1d7cb072ef7ea17c0aab64fa83017bfccd
      background: #fff;
              background: #fff;
        display: flex;
        gap: 1em;
        padding-left: 10px;

    }
  }