.general {
  border-radius: 20px;
  padding:30px;
  background: #fff;
}
.firstDiv{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.firstDiv span{
    font-weight: bold;
}
.taye {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.kehinde {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.idowu {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.taye span,
.kehinde span,
.idowu span {
  font-weight: bold;
  line-height: 30px;
}
.taye img {
  width: 30px;
  height: 30px;
}
.kehinde img {
  width: 25px;
  height: 40px;
}
.idowu img {
  width: 40px;
}
.secondDiv {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.spanDiv{
    display: flex;
    justify-content: space-between;
    width: 80px;
}
.checkDiv{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(218, 214, 214);
    padding: 10px;
}
.minus{
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgb(196, 190, 190);
}
.plus{
    width: 20px;
    background: rgb(231, 228, 228);
    text-align: center;
    border-radius: 50%;
}
.departDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 10px;
}
.departDiv span{
font-weight: bold;
}
.lagos{
    background: #06BCE1;
    color: #fff;
    padding: 10px;
    border-top-right-radius: 10px;
}
.div1{
    display: flex;
    flex-direction: column;
    width: 370px;
    border-radius: 10px;
    border: 1px solid #06BCE1;
}
.checkDiv3{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(218, 214, 214);
    padding: 10px;
    padding-left: 14px;
}
.bold{
    font-weight: bold;
}
.thirdDiv{
    display: flex;
    justify-content: space-between;
}
@media (max-width:768px) {
  .thirdDiv{
    flex-direction: column;
    gap: 1em;
    justify-content: center;
  }
  .secondDiv span{
    font-size: 20px;
  }
  .firstDiv{
    margin-bottom: 10px;
  }
  .div1{
    width: 100%;
  }
  .general{
    border-radius: 0;
  }
  .none{
    display: none;
  }
  .make{
    font-size: 15px
  }
}