
.general{
  padding: 20px 0;
  overflow-y: hidden;
  color: black;
  font-family: sans-serif;
  background-color: rgb(212, 211, 211);
}
.general input, .general select, .general textarea{
  background: white;
  color: black;
}

.firstDiv {
  width: 100%;
  background: rgba(6, 188, 225, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: space-between;
  display: flex;
  padding: 40px 0;
}
.subscribeButton img{
  width: 45px;
  padding: 0px 10px;
}
.hero {
  position: absolute;
  bottom: 0;
  right: 0;
}

.textDiv {
  margin-top: 100px;
  margin-left: 40px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.bigText, .bigText p {
  font-size: 55px;
  display: flex;
  gap: 30px;
  font-family: Light;
  color: #fff;
}

.small {
  width: 420px;
  font-size: 18px;
}
.image1, .image2, .image3, .image4{
  width: 150px;
  height: auto;
}

.kehinde{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image2{
  position: relative;
  right: 1em;
}
.image3{
  position: relative;
  right: 2em;    z-index: 1;
}
.image4{
  position: relative;
  right: 9em;

}
.talkDiv{
  display: flex;
  width: 60%;
  background-color: #fff;
  padding: 5px;
  justify-content: space-between;
  border-radius: 8px;
  align-self: center;
}
.talk{
  background-color: rgba(6, 188, 225, 1);
  color: #fff;
  width: 49%;
  padding: 5px 0;
  text-align: center;
  border-radius: 8px;
}
.FAQ{
  border-radius: 8px;
  text-align: center;
  background: rgba(242, 241, 241, 1);
  width: 49%;
  padding: 5px 0;
}
.inputNla{
  width: 60%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-self: center;
  align-items: center;
  border-radius: 8px;
  background: #fff;
  z-index: 3;
}
.us{
  font-size: 32px;
  display: flex;
  font-weight: bold;
  margin-bottom: 30px;
}
.toor{
  padding: 10px 20px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
  outline: none;
  
}
.nameInput{
  width: 100%;
}
.inputDiv{
  width: 68%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 30px;
}
@font-face {
  font-family: medium;
  src: url(../public/assets/fonts/NeueHaasDisplayLight.ttf);
}
.toor::placeholder, .textArea::placeholder, .email::placeholder, .number::placeholder{
  font-family:  medium;
}
.messageInput{
  display: flex;
  gap: 1em;
  flex-direction: column;
}
.twin{
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  justify-content: space-between;
}
.email{
  padding: 10px 20px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
  outline: none;
  
}

.phoneSaga{
  display: flex;
  flex-direction: row;
  
}
.number{
  padding: 10px 20px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
  outline: none;
  border-top-left-radius: 0;
  /* width: 100%; */
  border-bottom-left-radius: 0;
}
.select1{
  padding: 10px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
  outline: none;  
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.phoneInput{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.emailInput{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.textArea{
  padding: 10px 20px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
  outline: none;
  width: unset;
  height: 90px !important;
  resize: none;
}
.send{
  align-self: center;
  width: 65%;
  background: rgba(6, 188, 225, 1);
  color: #fff;
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
  border-radius: 29px;
}
.mailDiv{
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  border-top: 1px solid black;
  width: 90%;
  padding: 20px 0;
}
.phoneDiv{
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  padding-bottom: 20px;
}
.socialDiv{
  display: flex;
  padding: 20px 0;
  background: rgba(242, 241, 241, 1);
  width: 100%;
  justify-content: center;
  gap: 2em;
}
.secondDiv{
  display: flex;
  padding: 30px 20px;
  position: relative;
  gap: 2em;
  flex-direction: column;
}
.socialDiv img{
  cursor: pointer;
}
.plane{
  display: flex;
  width: 240px;
  position: absolute;
}
.sun{
  display: flex;
  width: 100px;
  right: 5em;
  top: 8em;
  position: absolute;
}
.final {
  background-color: #ffffff;
  position: relative;
  padding-top: 1.5rem;
  /* padding-right: 2em; */
  /* padding-bottom: 20px; */
  border-radius: 10px;
  /* flex-wrap: wrap-reverse; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-around;
  left: 3em;
  top: 5em;
  width: 90%;
  padding-bottom: 20px;
}

.imageWrapFinal {
  display: flex;

  align-items: center;
  position: relative;
}

.image1 {
  z-index: 5;
}

.image2 {
  position: relative;
  right: 2.5rem;
  z-index: 3;
}


.image3 {
  position: relative;
  right: 7.5rem;
}

.uptoDate {
  position: relative;
  left: -84px;
}

.be {
  font-family: "Light";
  font-size: 72px;
  color: #06bce1;
  margin: 30px 0;
}
.open {
  width: 80%;
}
.sub {
  width: 548px;
  font-family: "NeueHaasDisplayLight";
  font-size: 20px;
  padding-bottom: 20px;
}

.subscribe {
  border: 1px solid #3b9691;
  border-radius: 32px;
  display: flex;
  width: 450px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f4f4f4;
}

.subscribeInput {
  width: 100%;
  border: none;
  background-color: #f4f4f4;
  outline: none;
}

.subscribeButton {
  background-color: #06bce1;
  padding: 8px;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
}
.right, .left{
    height: 3em;
}
.curved{
  display: flex;
  position: absolute;
  bottom: -10em;
  left: 7em;
  width: 400px;
}


@media (max-width:1140px) {
  .hero{
    width: 50%;
  }
  .firstDiv{
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: center;
  }
  .textDiv{
    margin: 0;
  }
  .taye{
    display: flex;
    align-items: center;
  }
}
@media (max-width:750px) {
  .link{
    width: 100%;
  }
  .firstDiv{
    padding-top: 5em;
  }
  .small{
    width: 90%;
    font-size: unset;
  }
  .taye{
    text-align: center;
  }
  .image1,.image2,.image3,.image4{
    width: 90px;
  }
  .image1{
    position: relative;
    right: -4%;
  }
  .image2{
    right: 1.5em;
  }
  .image3{
    right: 4.5em;
  }
  .image4{
    right: 7.5em;
  }
  .kehinde{
    padding-left: 4em;
  }
  .bigText{
    font-size: 35px;
  }
  .textDiv{
    padding: 0 10px;
  }
  .talkDiv{
    width: 100%;
  }
  .inputNla{
    width: 100%;
  }
  .inputDiv{
    width: 95%;
  }
}
@media (max-width:500px) {
  .talk, .FAQ{
    font-size: 11px;
  }
  .number{
    width: 100%;
  }
  .phoneDiv span{
    font-size: 14px;
    width: 171px;
    text-align: center;
  }
}
@media (max-width:1277px) {
  .emailInput{
    width: 100%;
  }
}










 
@media (max-width: 1200px) {
  .HomeSectionFive {
    padding-left: 0;
  }
  .trip {
    display: flex;
    justify-content: space-between;
    gap: 3em;
    width: 86%;
  }
  .bookflight {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #b7b7b7;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-bottom: 15px;
    align-items: center;
  }

  .featImgaeWrap {
    /* width: 100%; */
    top: 33.5rem;
    left: 13.5rem;
  }
  .freq {
    font-size: 32px;
    text-align: center;
  }
  .bookfImg {
    padding-top: 29em;
    width: 345px;
  }
  .howBook {
    width: 100%;
    display: flex;
    gap: 9px;
    padding-left: 1.5em;
    align-items: flex-end;
  }
  .final {
  /* flex-wrap: wrap-reverse; */
 width: 90%;
 justify-content: space-between;
 padding-left: 30px;
}
 .image1{
  height: auto;
    width: 190px;
 }
 .image2{
  height: auto;
    width: 170px;
 }
 .image3{
  height: auto;
    width: 140px;
 }
 .be{
  margin: 20px 0;
    font-size: 33px;
 }
 .sub{
    width: 255px;
 }
 .subscribe{
    width: unset;
 }
}
@media (max-width: 1323px) {
  .uptoDate {
  }
}
@media (max-width: 800px) {
  .featImgaeWrap {
    left: 4.5rem;
  }
  .image1{
    width: 120px;
 }   
 .image2{
    width: 110px;
 }
 .image3{
    width: 125px;
    height: 100px;
 }
}
@media (max-width: 600px) {
  .bookfImg {
    width: 280px;
  }
  .final{
    
  }
}
@media (max-width: 560px) {
  .bookfImg {
    padding-top: 16em;
  }
  .featImgaeWrap {
    top: 36.6em;
    left: 2em;
  }
  .featImgaeTwo {
    bottom: 53px;
    position: absolute;
    left: 5em;
    width: 230px;
  }
  .featImgaeOne {
    width: 230px;
  }
}

@media (max-width:700px) {
    .HomeSectionFive{
        padding-bottom: 29em;
    }
.final{
    width: 90%;
    flex-wrap: wrap-reverse;
    border-radius: 24px;
    left: 1em;
}
.imageWrapFinal{
    justify-content: center;
    margin-top: 20px;
}
.uptoDate{
    width: 95%;
    flex-direction: column;
    display: flex;
    left: 0;
}
.sub{
    width: 90%;
}
}




















.navbarWrapBlack{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51, 51, 51, 1);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;

}

.edit{
  display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px 24px 8px 24px;
    border: 1px solid #0E90AA;
    border-radius: 32px;
    cursor: pointer;
}
.border{
  border-left: 2px solid rgb(173, 169, 169);
  border-right: 2px solid rgb(173, 169, 169);
  padding: 0px 9%;
}
.navbarWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo{
    color: #fff;
   
}

.navbar {
     /* Dark grey background */
    overflow: hidden;
  }
  .navbar a {
    float: left;
    display: block;
    color: white; /* White text color */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border: 2px  none;
  }
  /* Change the color of links on hover */
  .navbar a:hover {
    color: #FFD600;
    border-bottom:  solid #FFD600;
  }
  /* Add a color to the active/current link */
  .navbar a.active {
   color: #FFD600; /* Green background */
 
  }

  .quote{
    background-color: #FFFFFF;
    border-radius: 32px;
    padding: 5px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .quoteWrap{
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    align-items: center;
    display: flex;
    gap: 10px;
    /* filter: blur(5px); */
  }

  .quoteImg{
    background-color: #171717;
    padding: 5px;
    border-radius: 8px;
  }

  .NavTwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 30px;
    font-weight: bold;
    padding-right: 30px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 1);
  }

  .nvTwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .NavtwoContainer{
    background-color: rgba(247, 247, 247, 1);
  }


   .navbarWrapBlack{
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
  }

  .NavTwo {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .searchInput{
    display: none;
  }
  @media (max-width:1000px) {
    .navbar, .quote{
      display: none;
    }
  }
  @media (max-width:750px) {
    .logo{
      width: 123px;
    }
  }
  @media (max-width:500px) {
  
  }
  
@media (max-width:768px) {
  .quoteImg{
    background: none;
  }
 .avatar{
  display: none;
 }
  .logo{
    /* width: 123px; */
  }
  .navbarWrapBlack{
    z-index: 120;
    display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: 0;
  padding: 10px 20px;
  width: 100%;
  background: #fff;
  position: fixed;
  border-radius: 0;
  }
  .searchInput{
     display: block; 
    background: transparent;
      border: #adabab 1px solid;
      padding: 10px;
      border-radius: 12px;
      width: 100%;
  }
}