
@font-face {
  font-family: myFont;
  src: url("../public/assets/fonts/NeueHaasDisplayMediu.ttf");
}
.general {
  padding: 0 20px;
  background: rgb(236, 234, 234);
  box-sizing: border-box;
  color: black;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: myFont;
}
.secondHeader{
  display: none;
}
.niceDiv {
  margin: 3em 0;
  margin-bottom: 0;
  color: #009d52;
  display: flex;
  background: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
  border-radius: 7px;
  font-size: 15px;
}
.niceDiv img{
  width: 30px;
  height: 30px;
}
.who{
  margin: 1em 0;
  display: flex;
  font-size: 32px;
}
.niceDiv span {
  font-weight: bold;
}
.niceDiv p {
  
}
.codeDiv {
  margin: 3em 0;
  display: flex;
  background: #fff;
  /* text-align: center; */
  /* align-items: center; */
  justify-content: flex-start;
  padding: 20px;
  flex-direction: column;
  gap: 1em;
  border-radius: 7px;
  font-size: 15px;
  font-weight: bolder;
}
.code{
  border: 1px solid #99999d;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  outline: none;
}
.textDiv {
  display: flex;
  width: 500px;
  align-items: center;
  gap: 0.5em;
}
.textDiv span {
  font-weight: bolder;
  color: #06bce1;
}
.save {
  color: #fff;
  background: #06bce1;
  padding: 10px 20px;
  border-radius: 20px;
}
.saveDiv {
  display: flex;
  /* gap: 2.5em; */
  margin-bottom: 50px;
  justify-content: space-between;
}
.father {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customerDiv {
  margin: 3em 0;
  display: flex;
  background: #fff;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 50px;
    gap: 0.5em;
  border-radius: 20px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  line-height: 20px;
}
.customerDiv span {
  font-weight: bolder;
}
.second{
    width: 30%;
}
.first{
    width: 68%;
}
.money{
  display: none;
}
@media (max-width:1162px) {
  .second{
    display: none;
  }
  .first{
    width: 100%;
    padding-top: 4em;
    padding-bottom: 4em;
  }
}
 @media (max-width:768px) {
  .second{
    display: none;
  }
  .first{
    width: 100%;
    padding-top: 0;
    padding-bottom: 4em;
  }
  .code{
    width: unset;
  }
  .niceDiv{
    margin-left: 1em;
    margin-right: 1em;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
  }
  .niceDiv span{
    font-size: 12px;
  }
  .niceDiv p{
    font-size: 14px;
  }
  .textDiv{
display: none;
  }
  .saveDiv{
    position: fixed;
    background: #fff;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 25px 0;
    margin: 0;
  }
  .save{
    font-size: 14px;
    font-weight: bold;
    background: #06BCE1;
    padding: 15px 30px;
    justify-content: center;
    display: flex;
    border-radius: 40px;
    width: 90%;
  }
  .link{
    width: 100%;
  }
  /* .saveDiv a{
    margin-right: 20px;
  } */
  .money{
    display: block;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 30%;
    font-weight: bold;
  }
  .general{
    padding: 0;
  }
  .secondHeader{
    font-family: sans-serif;
    display: flex;
    position: fixed;
    top: 0;
    background: #fff;
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    top: 0;
    background: #fff;
    padding: 1em 0;
    align-items: center;
  }
  .back{
    margin-left: 1em;
  }
  .support{
    margin-right: 1em;
    width: 35px;
    height: 35px;
  }
  .specialText{
font-weight: lighter;
padding: 10px;
border: 1px solid black;
border-radius: 6px;
margin-left: 5px;
  }
  .who{
    font-size: 18px;
    margin-left: 20px;
  }
}






/* Verified styling the component was move to the customerinfo page we i need to merge the styling  */

.general {
  border-radius: 7px;
  gap: 9px;
  flex-direction: column;
  display: flex;
  padding: 30px;
  background: white;
  padding-bottom: 10px;
  overflow-x: hidden;
  font-family: myFont;
}
.general input,
.general select {
  background: white;
  color: black;
}
@font-face {
  font-family: myFont;
  src: url("../public/assets/fonts/NeueHaasDisplayMediu.ttf");
}

.select {
  padding: 15px 5px;
  /* border: none; */
  border-radius: 8px;
  /* outline: 1px solid rgb(184, 175, 175); */
}
.detailsDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.passportDiv {
  margin-top: 1em;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 15px 15px;
  border: 1px solid #06bce1;
  border-radius: 10px;
  background: #f4fdff;
  font-size: 15px;

  font-family: sans-serif;
  text-align: start;
}
.passportDiv span {
}
.details {
}
.input {
  padding: 10px 5px;
  border: 1px solid rgb(173, 168, 168);
  outline: none;
  border-radius: 7px;
}
.titleDiv {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  line-height: 30px;
  width: 350px;
}
.surnameDiv {
  display: flex;
  align-items: center;
}
.omo {
  display: flex;
}
.select1 {
  padding: 9px 5px;
  /* outline: 1px solid rgb(184, 175, 175); */
  /* border: 1px solid; */
  -webkit-appearance: none; /* Remove default arrow in Safari */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  appearance: none; /* Remove default arrow in other browsers */
  /* -webkit-animation: none; */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.input1 {
  padding: 9px 5px;
  border: 1px solid rgb(173, 168, 168);
  outline: none;
  width: 260px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.adult {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.adult label select {
  padding: 10px 10px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23000000" viewBox="0 0 24 24" width="24" height="24"%3E%3Cpath stroke-width="1" d="M10 7l5 5-5 5z" /%3E%3C/svg%3E'); /* Add dropdown arrow */
  background-repeat: no-repeat; /* Prevent arrow from repeating */
  background-position: right 10px center; /* Position the arrow on the right */
}
.adult span {
}
.mother {
}
.father {
  gap: 2em;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
}

.fatherVerified {
  gap: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
}

.firstDiv {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 0.5em;
}

.middle {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 0.5em;
}
.nationality {
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  width: 350px;
}
.nationality label select {
  width: 100%;
}
.gender {
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  width: 350px;
}
.gender label select {
  width: 100%;
}
.DOB {
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  width: 350px;
}
.triplet {
  display: flex;
}
.taye {
  padding: 10px 5px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 120px;
  outline: none; /* Remove outline */
  -webkit-appearance: none; /* Remove default arrow in Safari */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  appearance: none; /* Remove default arrow in other browsers */
  text-align: center; /* Center align the options */
}
/* .taye option{
  text-align: center;
} */
.kehinde {
  padding: 10px 5px;
  /* border: none;
  outline: 1px solid rgb(184, 175, 175); */
  width: 100px;
}
.idowu {
  padding: 10px 5px;
  /* border: none; */
  width: 130px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  /* outline: 1px solid rgb(184, 175, 175); */
}
.titleDivk {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 30px;
  width: 350px;
  flex-wrap: wrap;
}

.confirm {
  width: 100%;
}
.sigh {
  display: flex;
  align-items: center;
}
.firstDivk {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.checkbox {
  display: flex;
  font-size: 14px;
  font-family: myFont;
}
.bold {
  /* font-weight: 100; */
  font-family: sans-serif;
}
.checkbox2 {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 85%;
  justify-content: space-between;
}
.thirdNla {
  display: flex;
    flex-direction: column;
    gap: 15px;
  margin: 20px 0;
}
.taye,
.kehinde {
  border-radius: 0;
  text-align: center;
}
.idowu {
  text-align: center;
  display: flex;
  align-self: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .adult {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    flex-wrap: wrap;
    gap: 1em;
    flex-direction: column-reverse;
    margin: 15px 0;
  }
  .titleDiv,
  .firstDiv,
  .middle,
  .nationality,
  .gender,
  .DOB {
    width: 100%;
  }
  .bigger {
    margin: 10px 0;
  }
  .firstDivk {
    gap: 10px;
    flex-direction: column;
  }
  .titleDivk {

    width: 94%;
  }
  .input1 {
    width: 100%;
  }
  .input {
    width: unset;
  }
  .checkbox2 {
    width: unset;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
  }
  .checkbox {
    gap: 15px;
  }
  .checkbox input {
    background: white;
  }
  .labels,
  .taye,
  .kehinde,
  .idowu {
    width: 100%;
  }
  .taye,
  .kehinde {
    border-radius: 0;
  }
  .taye {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px !important;
  }
  .father {
    font-family: sans-serif;
  }
  .idowu {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .detailsDiv {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .details {
    font-size: 18px;
    display: flex;
    margin-bottom: 10px;
  }
  .personal {
    font-size: 14px;
    font-family: sans-serif;
  }
  .lock img {
    width: 18px;
    height: 20px;
  }
  .passportDiv {
    font-size: 13.5px;
  }
  .passportDiv img {
    width: 25px;
  }
  .lock {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
