.general {
  border-radius: 7px;
  gap: 9px;
  flex-direction: column;
  display: flex;
  padding: 30px;
  background: white;
  padding-bottom: 10px;
  overflow-x: hidden;
  font-family: myFont;
}
.general input,
.general select {
  background: white;
  color: black;
}
@font-face {
  font-family: myFont;
  src: url("../../public/assets/fonts/NeueHaasDisplayMediu.ttf");
}

.select {
  padding: 15px 5px;
  /* border: none; */
  border-radius: 8px;
  /* outline: 1px solid rgb(184, 175, 175); */
}
.detailsDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.passportDiv {
  margin-top: 1em;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 15px 15px;
  border: 1px solid #06bce1;
  border-radius: 10px;
  background: #f4fdff;
  font-size: 15px;

  font-family: sans-serif;
  text-align: start;
}
.passportDiv span {
}
.details {
}
.input {
  padding: 10px 5px;
  border: 1px solid rgb(173, 168, 168);
  outline: none;
  border-radius: 7px;
}
.titleDiv {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  line-height: 30px;
  width: 350px;
}
.surnameDiv {
  display: flex;
  align-items: center;
}
.omo {
  display: flex;
}
.select1 {
  padding: 9px 5px;
  /* outline: 1px solid rgb(184, 175, 175); */
  /* border: 1px solid; */
  -webkit-appearance: none; /* Remove default arrow in Safari */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  appearance: none; /* Remove default arrow in other browsers */
  /* -webkit-animation: none; */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.input1 {
  padding: 9px 5px;
  border: 1px solid rgb(173, 168, 168);
  outline: none;
  width: 260px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.adult {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.adult label select {
  padding: 10px 10px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23000000" viewBox="0 0 24 24" width="24" height="24"%3E%3Cpath stroke-width="1" d="M10 7l5 5-5 5z" /%3E%3C/svg%3E'); /* Add dropdown arrow */
  background-repeat: no-repeat; /* Prevent arrow from repeating */
  background-position: right 10px center; /* Position the arrow on the right */
}
.adult span {
}
.mother {
}
.father {
  gap: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
}
.firstDiv {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 0.5em;
}

.middle {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 0.5em;
}
.nationality {
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  width: 350px;
}
.nationality label select {
  width: 100%;
}
.gender {
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  width: 350px;
}
.gender label select {
  width: 100%;
}
.DOB {
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  width: 350px;
}
.triplet {
  display: flex;
}
.taye {
  padding: 10px 5px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 120px;
  outline: none; /* Remove outline */
  -webkit-appearance: none; /* Remove default arrow in Safari */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  appearance: none; /* Remove default arrow in other browsers */
  text-align: center; /* Center align the options */
}
/* .taye option{
  text-align: center;
} */
.kehinde {
  padding: 10px 5px;
  /* border: none;
  outline: 1px solid rgb(184, 175, 175); */
  width: 100px;
}
.idowu {
  padding: 10px 5px;
  /* border: none; */
  width: 130px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  /* outline: 1px solid rgb(184, 175, 175); */
}
.titleDivk {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 30px;
  width: 350px;
  flex-wrap: wrap;
}

.confirm {
  width: 100%;
}
.sigh {
  display: flex;
  align-items: center;
}
.firstDivk {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.checkbox {
  display: flex;
  font-size: 14px;
  font-family: myFont;
}
.bold {
  /* font-weight: 100; */
  font-family: sans-serif;
}
.checkbox2 {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 85%;
  justify-content: space-between;
}
.thirdNla {
  display: flex;
    flex-direction: column;
    gap: 15px;
  margin: 20px 0;
}
.taye,
.kehinde {
  border-radius: 0;
  text-align: center;
}
.idowu {
  text-align: center;
  display: flex;
  align-self: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .adult {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    flex-wrap: wrap;
    gap: 1em;
    flex-direction: column-reverse;
    margin: 15px 0;
  }
  .titleDiv,
  .firstDiv,
  .middle,
  .nationality,
  .gender,
  .DOB {
    width: 100%;
  }
  .bigger {
    margin: 10px 0;
  }
  .firstDivk {
    gap: 10px;
    flex-direction: column;
  }
  .titleDivk {

    width: 94%;
  }
  .input1 {
    width: 100%;
  }
  .input {
    width: unset;
  }
  .checkbox2 {
    width: unset;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
  }
  .checkbox {
    gap: 15px;
  }
  .checkbox input {
    background: white;
  }
  .labels,
  .taye,
  .kehinde,
  .idowu {
    width: 100%;
  }
  .taye,
  .kehinde {
    border-radius: 0;
  }
  .taye {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px !important;
  }
  .father {
    font-family: sans-serif;
  }
  .idowu {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .detailsDiv {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .details {
    font-size: 18px;
    display: flex;
    margin-bottom: 10px;
  }
  .personal {
    font-size: 14px;
    font-family: sans-serif;
  }
  .lock img {
    width: 18px;
    height: 20px;
  }
  .passportDiv {
    font-size: 13.5px;
  }
  .passportDiv img {
    width: 25px;
  }
  .lock {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
